/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
}

p {
  font-weight: 200;
}

h1 { 
  font-size: 1.75em;
  line-height: 1.35em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

#three > h2, #one > h2 {
  color: #555;
}

.header {
  background-color: #4686a0;
  color: white;
  background-image: url(images/overlay2.png), url(images/smoke2.png), url(images/overlay3.svg), linear-gradient(45deg, #9dc66b 5%, rgba(227, 176, 255), rgba(189, 214, 255) 40%, #4361c2);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  padding-top: 5em;
  padding-bottom: 5em;
}

main section {
  width: 100%;
}

body > main section {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.header > *, #two > *, #three > *, #four > * {
  text-align: center;
}

li {
  list-style: none;
}

#two, #four {
  background: linear-gradient(45deg, #9dc66b 5%, rgba(227, 176, 255), rgba(189, 214, 255) 40%, #4361c2);
  color: #ffffff;
}

.wideButton {
  /* box-shadow: inset 0 0 0 1px rgb(144 144 144 / 50%); */
  border-radius: 4px;
  width: 100%;
  border: 1px solid rgb(144 144 144 / 50%);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  display: inline-block;
  padding: 0.5em;
  letter-spacing: 0.125em;
}

.wideButton {
  text-decoration: none;
  color: #666;
}

#one {
  text-align: center;
}

#one p {
  text-align: left;
}

#process {
  text-align: center;
  margin-left: 0;
}

button {
  background-color: transparent;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
  border: 1pt solid white;
  letter-spacing: 0.125em;
  width: 100%;
  padding: 0.5em;
  cursor: pointer;
}

#discoverButton:hover, button:hover {
  background-color: rgba(255,255,255, 0.3);
}

.viewButton:hover {
  background-color: rgba(144, 144, 144, 0.2);
}



/******************************************
/* LAYOUT
/*******************************************/

#two > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

div > ul {
  
}
ul {
  padding: 0;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

li {
  width: 40%;
  display: inline-block;
  margin: 4%;

}

li > img {
  width: 75%;
  height: 75%;
  padding: 5%;
}

#three div {
  margin: 5% 0 5% 0;
}

.header > img {
  height: 20%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 2em;
}

input,textarea {
  background-color: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  padding: 0 1em;
  border: solid 1px rgba(144, 144, 144, 0.5);
}

input {
  height: 2.75em;
}

textarea {
  padding-top: 1em;
}

label {
  padding-top: 1em;
  padding-bottom: 1em;
}

.firstFields {
  display: flex;
  flex-wrap: column;
  /* width: calc(50% - 0.75em); */
}

.halfField {
  display: flex;
  flex-direction: column;
}

.stackFields {
  display: flex;
  flex-direction: column;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.image {
  border-radius: 15px;
  display: block;
  width: 100%;
}

 #one > h2:after, #three > h2:after, #process > h2:after, #four > h2:after {
  background-color: rgba(144, 144, 144, 0.5);
    content: '';
    display: block;
    height: 1px;
    width: 4em;
    margin: 1.25em auto 0;
} 

#process > h2:after, #four > h2:after {
  background-color: white;
}

#one p, #three p {
  color: #666;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  line-height: 1.65em;
  margin-top: auto;
}

#discoverButton {
  color: white;
  width: 90%; 
  margin: 3em auto 0;
  padding: 0.7em;
  border: 1pt solid white;
  font-size: 1.em;
  letter-spacing: 0.125em;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  /* box-shadow: inset 0 0 0 1px #ffffff; */
}

.icon > img {
  width: 8%;
  height: 8%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 0;
  margin-right: 0;
}

.web-preview {
  border: 1pt solid rgba(144, 144, 144, 0.5);
  padding: 0;
}
/******************************************
/* MEDIA QUERIES
/*******************************************/
@media screen and (min-width: 500px) and (max-width: 999px) {
  .header > img {
    width: 15%;
    height: 15%;
  }

  #discoverButton {
    width: 30%;
  }

  .wideButton {
    width: 20%;
    padding: 0.75em;
  }

  @media screen and (min-width: 700px) {
    .header > img {
      width: 12%;
      height: 12%;
    }

    .header > h1 {
      padding-left: 5%;
      padding-right: 5%;
    }

    li {
      width: 20%;
      margin: 1%;
    }

    #one > p {
      text-align: center;
    }

    button {
      padding: 0.75em;
      width: 30%;
    }
  }

  @media screen and (min-width: 800px) {
    #one > h2, #three > h2 {
      font-size: 2em;
    }

    p {
      font-size: 1.1em;
    }
  }
}

@media screen and (min-width: 1000px) {

  body {
    font-size: 14pt;
  }

  #two {
    padding-top: 7%;
    padding-bottom: 7%;
  }

  #one > * {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  #four > .formContainer {
    width: 95%;
    margin: 0 auto;
  }

  .header > img {
    width: 10%;
    height: 10%;;
  }

   .header {
    padding-top: 5em;
    padding-bottom: 5em;
  } 

  #discoverButton {
    color: white;
    width: 15%; 
    margin: 3em auto 0;
    padding: 0.5em;
    border: 1pt solid white;
    font-size: 1.em;
    letter-spacing: 0.125em;
  }
  
  #one {
    text-align: left;
  }

  h1 {
    font-size: 2em;
  }

  #two > div {
    display: flex;
    flex-direction: column;
  }
  
  body #two {
    flex-direction: row;
  }
  
  li > img {
    width: 60%;
    height: 60%;
  }

  #three > .projectsContainer {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .wideButton {
    width: 35%;
    padding: 4% 5%;
  }

  .col3 > *{
    padding: 0.5em;
  }

  h3 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #666;
    font-weight: 200;
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }

  ul {
    width: 100%;
    margin-right: 0;
  }

  #processIcons {
    padding: 0;
    width: 50%;
  }

  h2 {
    font-size: 2em;
  }

  .halfFields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .stackFields {
    width: 49%;
  }

  button {
    width: 17%;
  }

  #process {
    width: 50%;
    text-align: left;
  }

  #process h2:after {
    margin-left: 0;
    margin-right: 0;
  }

  #processIcons li {
    width: 49%;
    margin: 0;
  }

  .icon > img {
    width: 3%;
    height: 3%;
    margin: 5% 1%;
  }

  #one > h2:after {
    margin-left: 0;
  }

  .header > img {
    width: 8%;
    height: 8%;
  }

  #discoverButton {
    width: 17%;
  }

  #four button {
    width: 25%;
  }
}

@media screen and (min-width: 1680px) {

  .projectsContainer div {
    padding: 1em;
    width: 28%;
  }

  #three div {
    margin: 2% 0;
  }

  .projectsContainer > div {
    width: 25%;
  }

  .header > img {
    height: 7%;
    width: 7%;
  }

  .header {
    padding-top: 10em;
    padding-bottom: 10em;
  }

  #discoverButton {
    width: 10%;
  }

  h1 {
    font-size: 2em;
  }

  #processIcons li, #process{
    width: 40%;
  }

  p {
    font-size: 1.10em;
  }

  #one > * {
    width: 90%;
  }

  #one p {
    font-size: 1.15em;
  }
  
}